.book-renter-child {
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 1.1fr 0.4fr 0.6fr;
  border: 1px solid #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 2px 0;
}

.book-renter-child .row,
.book-renter-child .user,
.book-renter-child .book,
.book-renter-child .complete,
.book-renter-child .date {
  padding: 15px;
  border-left: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.book-renter-child .row {
  border-left: none;
}

.book-renter-child .row {
  font-size: 1.5em;
  font-weight: 600;
}

.book-renter-child .btn {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: green;
  color: white;
  border-radius: 20px;
  outline: none;
  transition: 0.3s ease-in;
}

.book-renter-child .btn:hover {
  box-shadow: 0 0 3px gray;
}

.book-renter-child .date {
  font-size: 1em;
  font-weight: 500;
  color: #f5222d;
}

.button {
  min-width: 375px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .btn {
  width: 125px;
  height: 35px;
  letter-spacing: 2px;
  border-radius: 20px;
  margin: 0 20px;
  border: none;
}

.button .btn.btn-login {
  color: white;
  font-size: 1em;
  background: #1890ff;
  outline: none;
}

.button .btn.default {
  background: white;
  color: black;
  width: 200px;
  border: 1px solid #f0f0f0;
}

.button .btn.danger {
  background: #f62d3d;
}

.h-card {
  width: 18rem;
  background-color: white;
  transition: 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #f0f0f0;
}

.h-card:hover {
  box-shadow: 0px 0 1px;
}

.h-card .h-card-content {
  text-decoration: none;
}

.h-card .h-card-img {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-card .h-card-body {
  padding: 10px 20px;
  padding-bottom: 5px;
}

.h-card .h-card-body h3 {
  margin-bottom: 2px;
  font-size: 1.4rem;
  color: #262626;
}

.h-card .h-card-body p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: #8c8c8c;
  padding-left: 2px;
}

.h-card .h-card-content .action {
  border-top: 1px solid #f0f0f0;
  width: 100%;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.h-card .h-card-content .action .btn {
  border: none;
  padding: 10px;
  background: #fff;
  border-left: 1px solid #f0f0f0;
  outline: none;
  cursor: pointer;
}

.h-card .h-card-content .action .btn .btn-img {
  width: 30px;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  cursor: pointer;
}

.h-card .h-card-content .action .btn .btn-img.fill {
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
}

.form {
  min-width: 375px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 80px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #f0f0f0;
}

.form .title {
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 6px;
}

.form .form-group {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.form .form-group label {
  font-size: 0.8em;
}

.form .form-group .form-control {
  width: 95%;
  height: 35px;
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: 0 10px;
  margin: auto 5px;
  transition: 0.3s;
}

.form .form-group .form-control.hover {
  border: 1px solid #1890ff;
}

.form .btn {
  width: 125px;
  height: 35px;
  border: 1px solid #f0f0f0;
  letter-spacing: 2px;
  border-radius: 20px;
  float: right;
}

.form .btn.hover {
  border: 1px solid #adadad;
}

.form .btn.btn-login {
  color: white;
  font-size: 1em;
  background: #1890ff;
  outline: none;
}

.form .btn.default {
  background: white;
  color: black;
  width: 200px;
}

.form .btn.danger {
  background: #f62d3d;
}

.form .select-form {
  width: 120px;
  border: 1px solid #f0f0f0;
  padding: 5px;
  margin-left: 30px;
  outline: none;
}

.form-login {
  min-width: 375px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 80px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #f0f0f0;
}

.form-login .title {
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 6px;
}

.form-login .form-group {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.form-login .form-group label {
  font-size: 0.8em;
}

.form-login .form-group .form-control {
  width: 95%;
  height: 35px;
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: 0 10px;
  margin: auto 5px;
  transition: 0.3s;
}

.form-login .form-group .form-control.hover {
  border: 1px solid #1890ff;
}

.form-login .btn {
  width: 125px;
  height: 35px;
  border: 1px solid #f0f0f0;
  letter-spacing: 2px;
  border-radius: 20px;
  float: right;
}

.form-login .btn.hover {
  border: 1px solid #adadad;
}

.form-login .btn.btn-login {
  color: white;
  font-size: 1em;
  background: #1890ff;
  outline: none;
}

.h-navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
}

.h-navbar .h-navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.h-navbar .h-navbar-nav .h-navbar-item {
  width: 100%;
  margin: 1rem 0;
}

.h-navbar .h-navbar-nav .h-navbar-item .h-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.h-navbar .h-navbar-nav .h-navbar-item .h-nav-link .nav-icon {
  width: 3.5rem;
  height: 3.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 10px;
}

.h-navbar .h-navbar-nav .h-navbar-item .h-nav-link .nav-icon img {
  max-width: 2rem;
}

.h-navbar .h-navbar-nav .h-navbar-item .h-nav-link .nav-icon .link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
}

.h-navbar .h-navbar-nav .h-navbar-item:hover .h-nav-link .nav-icon .link-icon {
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
}

.h-navbar .h-navbar-nav .h-navbar-item .link-text {
  color: #707070;
  margin-top: 0.4rem;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  font-size: 1.2em;
}

.h-navbar .h-navbar-nav .h-navbar-item:hover .link-text {
  color: black;
}

.h-navbar .h-navbar-nav .h-navbar-item.h-login,
.h-navbar .h-navbar-nav .h-navbar-item.h-logout {
  margin-bottom: 0.1rem;
  margin-top: auto;
  width: 0rem;
}

.h-navbar .h-navbar-nav .h-navbar-item.h-login .link-text,
.h-navbar .h-navbar-nav .h-navbar-item.h-logout .link-text,
.h-navbar .h-navbar-nav .h-navbar-item.h-signup .link-text {
  text-decoration: underline;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .h-navbar {
    top: 0;
    width: 5rem;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .h-navbar {
    max-width: 100vw;
    width: 100vw;
    height: 4rem;
    bottom: 0;
  }

  .h-navbar .h-navbar-nav {
    flex-direction: row;
  }

  .h-navbar .h-navbar-nav .h-navbar-item {
    margin: 0;
  }

  .h-navbar .h-navbar-nav .h-navbar-item .h-nav-link .link-text {
    display: none;
  }

  .h-navbar .h-navbar-nav .h-navbar-item.h-login,
  .h-navbar .h-navbar-nav .h-navbar-item.h-logout,
  .h-navbar .h-navbar-nav .h-navbar-item.h-singup {
    display: none;
  }

  .h-navbar .h-navbar-nav .h-navbar-item .h-nav-link .nav-icon .link-icon {
    -webkit-filter: grayscale(0) opacity(1);
            filter: grayscale(0) opacity(1);
  }

  main {
    margin: 0;
    padding: 0;
  }
}

.form-register {
  min-width: 375px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 80px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #f0f0f0;
}

.form-register .title {
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 6px;
}

.form-register .form-group {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.form-register .form-group label {
  font-size: 0.8em;
}

.form-register .form-group .form-control {
  width: 95%;
  height: 35px;
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: 0 10px;
  margin: auto 5px;
  transition: 0.3s;
}

.form-register .form-group .form-control.hover {
  border: 1px solid #1890ff;
}

.form-register .btn {
  width: 125px;
  height: 35px;
  border: 1px solid #f0f0f0;
  letter-spacing: 2px;
  border-radius: 20px;
  float: right;
}

.form-register .btn.hover {
  border: 1px solid #adadad;
}

.form-register .btn.btn-register {
  color: white;
  font-size: 1em;
  background: #1890ff;
  outline: none;
}

.page-user {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-family: 'Roboto', sans-serif;
}

.page-user .logo-user {
  margin: auto;
  padding: 20px;
}

.page-user .logo-user .logo-img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.page-user .info-user {
  padding: 20px;
}

.page-user .info-user .name-user {
  color: #4e4e4e;
  font-size: 1.2em;
}

.page-user .info-user .name-store {
  display: inline-block;
  color: #4e4e4e;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease-out;
  margin-top: 10px;
}

.page-user .info-user .name-store:hover {
  text-decoration: underline;
  color: #1a1a1a;
}

.page-user .info-user .name-store .icon-store {
  width: 30px;
  margin-left: 10px;
}

.page-user .info-user .rate-percent {
  float: right;
  color: #4e4e4e;
  font-size: 1.3em;
  margin-top: 10px;
}

.page-user .info-user .amount-product {
  color: #4e4e4e;
  font-size: 1.3em;
}

.page-user .info-user .btn {
  width: 200px;
  height: 30px;
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
}

.page-user .info-user .btn:hover {
  box-shadow: 0 0 2px gray;
}

.page-user .info-user .btn span {
  font-size: 1em;
  font-weight: 600;
}

.page-user .info-user .btn .icon-edit {
  width: 30px;
  margin-left: 20px;
}

@media only screen and (max-width: 900px) {
  .page-user {
    display: flex;
    flex-direction: column;
  }

  .page-user .info-user .name-user {
    text-align: center;
    border: 1px solid #f0f0f0;
  }

  .page-user .info-user .name-store,
  .page-user .info-user .rate-percent {
    margin-top: 25px;
  }

  .page-user .info-user .btn {
    margin-top: 35px;
  }
}


/*# sourceMappingURL=main.75d058bb.chunk.css.map*/