.button {
  min-width: 375px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .btn {
  width: 125px;
  height: 35px;
  letter-spacing: 2px;
  border-radius: 20px;
  margin: 0 20px;
  border: none;
}

.button .btn.btn-login {
  color: white;
  font-size: 1em;
  background: #1890ff;
  outline: none;
}

.button .btn.default {
  background: white;
  color: black;
  width: 200px;
  border: 1px solid #f0f0f0;
}

.button .btn.danger {
  background: #f62d3d;
}
