.h-card {
  width: 18rem;
  background-color: white;
  transition: 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #f0f0f0;
}

.h-card:hover {
  box-shadow: 0px 0 1px;
}

.h-card .h-card-content {
  text-decoration: none;
}

.h-card .h-card-img {
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-card .h-card-body {
  padding: 10px 20px;
  padding-bottom: 5px;
}

.h-card .h-card-body h3 {
  margin-bottom: 2px;
  font-size: 1.4rem;
  color: #262626;
}

.h-card .h-card-body p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: #8c8c8c;
  padding-left: 2px;
}

.h-card .h-card-content .action {
  border-top: 1px solid #f0f0f0;
  width: 100%;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.h-card .h-card-content .action .btn {
  border: none;
  padding: 10px;
  background: #fff;
  border-left: 1px solid #f0f0f0;
  outline: none;
  cursor: pointer;
}

.h-card .h-card-content .action .btn .btn-img {
  width: 30px;
  filter: grayscale(100%) opacity(0.7);
  cursor: pointer;
}

.h-card .h-card-content .action .btn .btn-img.fill {
  filter: grayscale(0) opacity(1);
}
